---
import { getCollection } from "astro:content";
import Layout from "../../layouts/MainLayout.astro";

const collection = await getCollection("trainings");
const trainings = collection.sort((c1, c2) =>
  c1.data.title.localeCompare(c2.data.title),
);
---

<Layout
  title="My Trainings"
  keywords="trainings, angular, vue, elasticsearch, courses"
  description="List of trainings delivered by Emmanuel Demey: Angular, Vue.js, Elasticsearch, ..."
>
  <h2>Trainings</h2>

  <div class="page-intro">
    <p>
      For more than ten years, throughout my various professional experiences,
      I’ve had the opportunity to create, maintain, and deliver numerous
      trainings. On this page, you will find the list of courses I offer as a
      freelancer. Feel free to contact me by email if you are interested.
    </p>
  </div>

  <div class="list-of-trainings">
    {
      trainings.map(async (training) => {
        const { Content } = await training.render();
        return (
          <div class="t-entry">
            <div class="intro">
              <h3>
                <a href={`/trainings/${training.slug}`}>
                  {training.data.title}
                </a>
              </h3>
              <p class="event-data">{training.data.description}</p>
            </div>
            <div class="content">
              <Content />
              <p>
                This training is offered in partnership with{" "}
                <a href={training.data.companyUrl} target="_blank">
                  {training.data.company}
                </a>
              </p>
            </div>

            <p class="picture">
              <img src={training.data.image} alt="" />
            </p>
          </div>
        );
      })
    }
  </div>
</Layout>
