---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/MainLayout.astro";

interface Props {
  article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { Content } = await article.render();

const publicationDate = article.data.pubDate ?? new Date();
const date = new Intl.DateTimeFormat("fr").format(publicationDate);
const dateTime = publicationDate.toISOString();
---

<Layout
  title={article.data.title}
  keywords={article.data.keywords}
  description={article.data.description}
>
  <article class="h-entry">
    <header aria-label="Données de l'article">
      <h2 class="p-name">{article.data.title}</h2>
      <p class="dt-published">
        <time datetime={dateTime}>{date}</time>
      </p>
    </header>

    <div class="p-summary">
      <p>
        {article.data.description}
      </p>
    </div>

    <div class="e-content">
      <Content />
    </div>
  </article>
</Layout>
