---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/MainLayout.astro";
interface Props {
  training: CollectionEntry<"trainings">;
}

const { training } = Astro.props;
const { Content } = await training.render();

const complementary = training.data.complementary ?? [];
---

<Layout
  title={training.data.title}
  keywords={training.data.keywords}
  description={training.data.description}
>
  <article class="h-entry">
    <header aria-label="Données de l'article">
      <h2 class="p-name">{training.data.title}</h2>
    </header>

    <div class="p-summary">
      <p>
        {training.data.description}
      </p>
    </div>

    <div class="e-content">
      <Content />

      {
        complementary.length > 0 && (
          <>
            Depending on your needs, additional content can be covered.
            <ul>
              {complementary.map((c: string) => (
                <li>{c}</li>
              ))}
            </ul>
          </>
        )
      }
    </div>
  </article>
</Layout>
